/*全局变量*/
@screen-sm-min = 768px;
@screen-md-min = 992px;
@screen-lg-min = 1200px;





/**/


body{
    background-color:#F2F2F2 ;
    font-family: '微软雅黑';
}

a{
    outline: 0;
    text-decoration: none;
    color: #000;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
a:hover{
    text-decoration: none;
    color: #888;
}

/*header*/
#header-nav{
    /*background-color: #B61924;*/
    border: 0;
    outline: 0;
    border-radius: 0;
}

/*#header-nav a{*/
    /*font-weight: bold;*/
    /*color: #fff;*/
/*}*/

/*#header-nav .dropdown li a{*/
    /*font-weight: 100;*/
    /*color: #000;*/
/*}*/

/*.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {*/
    /*color: #000;*/
    /*background-color: #fff;*/

/*}*/

/*.navbar-nav .active a{*/
    /*color: #000;*/
    /*background-color: #fff;*/
/*}*/



/*main*/
#left,
#middle,
#right{
    height: auto;
    background-color: #fff;
}

#left{
    z-index: 3;
}

#middle{
    z-index: 2;
}

#right{
    background-color: #232323;
    color: #AFB9C4;
    z-index: 1;

}

.padding-top-and-bottom{
    padding-top:20px ;
    padding-bottom: 20px;
}


@media screen and (max-width: 650px) {
    #open-background{
        z-index: 100;
        display: block;
        background: url("gameoverback.jpg") no-repeat center center;
        background-size:cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;

    }
}

@media screen and (min-width: 768px){

    #open-background{
        z-index: 100;
        display: block;
        background: url("back2.jpg") no-repeat center center;
        background-size:cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;

    }

    .container {
        width: 90%;
    }
    #left{

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        box-shadow:1px 1px 1px #ccc ;

    }

    #middle{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        box-shadow:1px 1px 1px #ccc ;
    }



    #right-main-one,
    #right-main-three{

    }

}




@media screen and (max-width: 992px){
    .container {
        width: 90%;
    }
   #middle{
       margin: 20px 0;
   }
}



#main{
    height: 100%;
    margin-top: 20px;
    background-color: #fff;
}

#left img{
    float: none;
}

.title-menu {
    cursor: pointer;
    display: inline-block;
    padding-bottom: .5em;
}

.title-menu h2{
    margin-top: 0;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    font-family: "proxima-nova", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #0c0c0c;
    display: inline-block;
    font-size: 1.3em;
    margin-bottom: 0;
    text-transform: uppercase;
}

.title-menu {
    width: 100%;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0 5px 5px -2px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 5px 5px -2px;
    box-shadow: rgba(0,0,0,0.1) 0 5px 5px -2px;
    cursor: pointer;
    display: inline-block;
    padding-bottom: .5em;
}

.list-container{
    margin: 0;
    padding: 0;
    list-style: none;

}

.list-container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
.list-container li{
    width: 100%;
    padding-right: .25em;
    position: relative;
    padding-bottom: 3%;
    padding-top: 3%;
    float: left;
    border-bottom: 2px solid whitesmoke;
    list-style: none;


}

.list-container li a{
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;

}

.list-container a:hover{
    text-decoration: none;
}

#main-title h2{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid whitesmoke;
}

#main-title:hover{
    text-decoration: none;

}


/*right*/

#right a{
    color: #AFB9C4;
}

#right a:hover{
    color: #fff;
}



.panel-title{
    padding-bottom: 10px;
    font-weight: bold;
    color: #fff;
}

.right-mainarticle{
    font-size: 1em;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.article-list{
    padding: 3% 0;
    font-size: 1em;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

#right-main-one,
#right-main-two,
#right-main-three,
#right-main-four{
   padding-bottom: 20px;
}