/*全局变量*/
@screen-sm-min = 768px;
@screen-md-min = 992px;
@screen-lg-min = 1200px;





/**/


body{
    background-color:#fff ;
    font-family: '微软雅黑';
}

a{
    outline: 0;
    text-decoration: none;
    color: #000;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
a:hover{
    text-decoration: none;
    color: #888;
}

/*header*/
#header{
    /*border-top: 3px #932439 solid;*/
}
#header .container{
    padding: 0;
}

#logo{
    padding: 20px 0;
}


.navbar{
    background:#fff;
    border-radius: 0;
    border: 0;
    border-top: 3px #932439 solid;
}

.navbar-nav a{
    color: #932439;
}

/*main*/
#row_1{
    background: url("texture.png") repeat;
    overflow: hidden;
}

#banner{
    background: #ccc;
}

.content_wiget ul{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
.content_wiget  li{
    width: 100%;
    padding-right: .25em;
    padding-bottom: 1%;
    padding-top: 1%;
    border-bottom: 1px solid #ececec;
    list-style: none;
}

.news_thumb{
    display: inline-table;
    height: 60px;
    width: 70px;
    margin-right: 10px;
}
.news_thumb img{
    max-width:70px ;
    height: 60px;
}
.news_thumb_text{
    display: inline-block;
}
.news_thumb_text_title{
    display:block;
    color: #555;
    font-size: 1em;
    font-weight: bold;
}


#row_2{

}

#jxjw,
#xgdt,
#kyxx,
#djgz{
    height: auto;
    float: left;
}

#jxjw{

}
#xgdt{

}

#kyxx{
}

#djgz{

}

.content_wiget{
    margin-top: 20px;
}

.content_thumb{
    margin-bottom: 5px;
}

.thumb_title h3{
    color: #555;
    line-height: 1.2em;
    font-size: 1.2em;
    font-weight: bold;
}

.thumb_date{
    display:block;
    color: #888;
    font-size: .6em;
    padding-bottom: 1.2em;
}

.thumb_content{
    margin-bottom: 15px;
    color: #555;
    font-size: 1em;
    padding-bottom: 1.2em;
}


#left,
#middle,
#right{
    height: auto;
    background-color: #F9F9F9;
}

#left{
    z-index: 3;
}

#middle{
    z-index: 2;
}

#right{
    color: #AFB9C4;
    z-index: 1;

}


.padding-top{
    padding-top:20px ;
}

.padding-top-and-bottom{
    padding-top:20px ;
    padding-bottom: 20px;
}


@media screen and (max-width: 768px) {
    #open-background{
        z-index: 100;
        display: block;
        background: url("gameoverback.jpg") no-repeat center center;
        background-size:cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;

    }

    #left,
    #middle,
    #right,
    #right-main-one{
        margin-top: 10px;
    }


    #right-main-two,
    #right-main-three,
    #right-main-four{
        padding-top: 20px;
       border-top: 20px #F2F2F2 solid;
    }

    #footer,
    #footer-5,
    #footer-2,
    #footer-3,
    #footer-4,
    #footer-1{
        display:none ;
    }
}

@media screen and (min-width: 768px){

    #open-background{
        /*z-index: 100;*/
        /*display: block;*/
        /*background: url("back2.jpg") no-repeat center center;*/
        /*background-size:cover;*/
        /*-webkit-background-size:cover;*/
        /*-moz-background-size:cover;*/
        /*-o-background-size:cover;*/

        display: none;
        width: 0;
        height: 0;
    }

    .container {
        width: 80%;
    }


    /*#left{*/

        /*-webkit-box-sizing: border-box;*/
        /*-moz-box-sizing: border-box;*/
        /*box-sizing: border-box;*/
        /*box-shadow:1px 1px 1px #ccc ;*/

    /*}*/

    /*#middle{*/
        /*-webkit-box-sizing: border-box;*/
        /*-moz-box-sizing: border-box;*/
        /*box-sizing: border-box;*/
        /*box-shadow:1px 1px 1px #ccc ;*/
    /*}*/



    #right-main-one,
    #right-main-three{

    }

}




@media screen and (max-width: 992px){
    .container {
        width: 90%;
    }
   #middle{
       margin: 20px 0;
   }
}



#main{
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#left img{
    float: none;
}

.title-menu {
    cursor: pointer;
    border-bottom: 3px #444 solid;
    display: inline-block;
    padding-bottom: .5em;
}

.title-menu h2{
    margin-top: 0;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    font-family: "proxima-nova", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #0c0c0c;
    display: inline-block;
    font-size: 1em;
    margin-bottom: 0;
    line-height: 1.2em;
}

.title-menu span{
    float: right;
    color: #fff;
    font-size: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2em;
    padding: 0 4px;
}

.title-menu span:hover{
    cursor: pointer;
}

.title-menu {
    width: 100%;
    /*-webkit-box-shadow: rgba(0,0,0,0.1) 0 5px 5px -2px;*/
    /*-moz-box-shadow: rgba(0,0,0,0.1) 0 5px 5px -2px;*/
    /*box-shadow: rgba(0,0,0,0.1) 0 5px 5px -2px;*/
    cursor: pointer;
    display: inline-block;
    padding-bottom: .5em;
}

.list-container{
    background: url("texture.png") repeat;
    margin: 0;
    padding: 2%;
    list-style: none;
    width: 100%;
    float:left;
}

.list-container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
.list-container li{
    width: 100%;
    padding-right: .25em;
    position: relative;
    padding-bottom: 1%;
    padding-top: 1%;
    float: left;
    border-bottom: 1px solid #ececec;
    list-style: none;
}

.list-container_title{
    background: url(list-arrow.png) left center no-repeat;
    padding-left: 15px;
}

.list-container_title h4{
    color: #555;
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
}

.list-container_date{
    color: #888;
    font-size: .8em;
    float: right;
    margin-top: 10px;
}

.list-container li a{
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;

}

.list-container a:hover{
    text-decoration: none;
}

#main-title h2{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid whitesmoke;
}

#main-title:hover{
    text-decoration: none;

}


/*right*/

/*#right a{*/
    /*color: #AFB9C4;*/
/*}*/

#right a:hover{
    color: #fff;
}



.panel-title{
    padding-bottom: 10px;
    font-weight: bold;
    color: #fff;
}

.right-mainarticle{
    font-size: 1em;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.article-list{
    padding: 3% 0;
    font-size: 1em;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

#right-main-one,
#right-main-two,
#right-main-three,
#right-main-four{
   padding-bottom: 20px;
}


/*footer*/

#footer{
    /*box-shadow: inset 0 0 200px #000;*/
    background: #932439;
    overflow: auto;
    border-radius: 0;
    padding: 2%;
    width: 100%;

}

#footer .container{
    width: 90%;
}


#footer h2{
    color: #fff;
}

#footer h4{
    color: #ffdb93;
    font-size: 14px;
}


.fan-link ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
.fan-link li{

    width: 100%;
    padding-right: .25em;
    position: relative;
    float: left;
    list-style: none;
}

.fan-link li a{
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    color: #ffdb93;

}

.fan-link a:hover{
    text-decoration: underline;
    color: #ffdb93;
}

#end{
    padding: 10px 0;
    width: 100%;
    background: #444;
    text-align: center;
}

#end span{
    color: #fff;
}

